#content {
  animation: main 1s;
}
.site-content {
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,.8);
}


.top-feature-row {
  width: 100%;
  height: auto;
  margin-top: 55px;
}

h1.fes-title, h1.main-title {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #ececec;
}
.top-feature-v2 {
  display: inline-block;
}
.the-feature.from_left_and_right {
  position: relative;
  height: 160px;
  width: 257px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  overflow: hidden;
  border-radius: 10px;
}
.the-feature a {
  color: #333;
}
.the-feature.from_left_and_right .img {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.the-feature.from_left_and_right .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #333;
  background: rgba(0,0,0,.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.the-feature.from_left_and_right .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111;
  margin: 30px 0 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.the-feature.from_left_and_right .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px;
  text-align: center;
  -webkit-transition: all .35s .1s linear;
  -moz-transition: all .35s .1s linear;
  transition: all .35s .1s linear;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.the-feature.from_left_and_right a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.the-feature.from_left_and_right a:hover .info {
  visibility: visible;
  opacity: 1;
}

.the-feature.from_left_and_right a:hover .info h3, .the-feature.from_left_and_right a:hover .info p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.the-feature.from_left_and_right .img {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.the-feature img {
  height: 160px;
  width: 257px;
}

.the-feature.from_left_and_right a:hover .info {
  visibility: visible;
  opacity: 1;
}