.m-button {
  display: inline-block;
  color: #ecf5ff;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 25px;
  /*padding: 13px 25px;
  */cursor: pointer;
  outline: 0;
  border: 0;
  position: relative;
  background-color: transparent;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -ms-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.m-button.filled {
  border-radius: 25px;
  background-color: #fff;
}

.m-button.filled:hover,
.m-button.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
}