.site-content {
    overflow: auto;
    max-width: 1800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,.8);
}
.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.card .card-reveal {
    padding: 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 24px;
    width: 100%;
}
.skill {
    margin-bottom: 1em;
    position: relative;
}
.skill div {
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 4px;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 0 1px rgb(0 0 0 / 22%);
    width: 100%;
    text-align: center;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.skill-list {
    list-style: none;
    margin: 0;
    padding-top: 25px;
}
.card .card-content p {
    margin: 0;
}

.should-ellipsis-full {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
p {
    margin-bottom: 1.5em;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/texto.cur),auto;
}
.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}

.card .card-title.activator {
    cursor: pointer;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.grey-text.text-darken-4 {
    color: #212121 !important;
}

.grey-text {
    color: #9e9e9e !important;
}

.should-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}
.lazyload {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: .3s -webkit-filter linear;
    -moz-transition: .3s -moz-filter linear;
    -moz-transition: .3s filter linear;
    -ms-transition: .3s -ms-filter linear;
    -o-transition: .3s -o-filter linear;
    transition: .3s filter linear,.3s -webkit-filter linear;
}

.itempic {
    min-height: 280px;
    max-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.card .card-image {
    position: relative;
}

.waves-block {
    display: block !important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}

.hoverable {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.card {
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .row .col.m6 {
    width: 25% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}